.header 
{

	text-align: center;
	
	font-size: 3em;
	
/*	text-decoration: underline;*/

/*	padding: 1em;*/
}

aside
{

	display: inline-block;

	float: right;

	clear: left;

	text-align: right;

	position: fixed;

	top: 10px;
	
	right: 10px;

	padding: 1em;
	
	background-color: darkgrey;
}


.table 
{

	display: flex;

	margin-left: auto; 
	
	margin-right: auto;
	
	width: 100%;
	
	text-align: left;
	
	justify-content: center;

}

.container{
	margin: 1em;
	padding: 1em;
	
/*	width: 30em;*/
	max-width: 30em;
/*	min-width: 100px;*/
	
	background-color: lightgrey;
	border-radius: 20px;
}

tr:nth-child(even) 
{
	background-color: #efefef;

}


tr:hover 
{
	
	background-color: #c3e6e5;

}

form#signup
{
/*	text-align: center;*/

}


.post-odd {
	padding: 10px;
	background: #ceceee;
}

.post-even {
	padding: 10px;
	background: #dfdfff;
}